/* You can add global styles to this file, and also import other style files */
.highlight{
    background-color: lightblue;
    font-weight: bold;
}

.text-error{
    color:red;
    font-size:10px;
}